Skip to content
Navigation Menu
github
gitignore

Type / to search
Code
Pull requests
493
Actions
Security
Insights
Files
Go to file
t
.github
Global
community
AL.gitignore
Actionscript.gitignore
Ada.gitignore
Agda.gitignore
Android.gitignore
AppEngine.gitignore
AppceleratorTitanium.gitignore
ArchLinuxPackages.gitignore
Autotools.gitignore
Ballerina.gitignore
C++.gitignore
C.gitignore
CFWheels.gitignore
CMake.gitignore
CONTRIBUTING.md
CUDA.gitignore
CakePHP.gitignore
ChefCookbook.gitignore
Clojure.gitignore
CodeIgniter.gitignore
CommonLisp.gitignore
Composer.gitignore
Concrete5.gitignore
Coq.gitignore
CraftCMS.gitignore
D.gitignore
DM.gitignore
Dart.gitignore
Delphi.gitignore
Drupal.gitignore
ECU-TEST.gitignore
EPiServer.gitignore
Eagle.gitignore
Elisp.gitignore
Elixir.gitignore
Elm.gitignore
Erlang.gitignore
ExpressionEngine.gitignore
ExtJs.gitignore
Fancy.gitignore
Finale.gitignore
Firebase.gitignore
FlaxEngine.gitignore
ForceDotCom.gitignore
Fortran.gitignore
FuelPHP.gitignore
GWT.gitignore
Gcov.gitignore
GitBook.gitignore
GitHubPages.gitignore
Go.gitignore
Godot.gitignore
Gradle.gitignore
Grails.gitignore
Haskell.gitignore
IAR.gitignore
IGORPro.gitignore
Idris.gitignore
JBoss.gitignore
JENKINS_HOME.gitignore
Java.gitignore
Jekyll.gitignore
Joomla.gitignore
Julia.gitignore
KiCad.gitignore
Kohana.gitignore
Kotlin.gitignore
LICENSE
LabVIEW.gitignore
Laravel.gitignore
Leiningen.gitignore
LemonStand.gitignore
Lilypond.gitignore
Lithium.gitignore
Lua.gitignore
Magento.gitignore
Maven.gitignore
Mercury.gitignore
MetaProgrammingSystem.gitignore
Modelica.gitignore
Nanoc.gitignore
Nim.gitignore
Node.gitignore
OCaml.gitignore
Objective-C.gitignore
Opa.gitignore
OpenCart.gitignore
OracleForms.gitignore
Packer.gitignore
Perl.gitignore
Phalcon.gitignore
PlayFramework.gitignore
Plone.gitignore
Prestashop.gitignore
Processing.gitignore
PureScript.gitignore
Python.gitignore
Qooxdoo.gitignore
Qt.gitignore
R.gitignore
README.md
ROS.gitignore
Racket.gitignore
Rails.gitignore
Raku.gitignore
ReScript.gitignore
RhodesRhomobile.gitignore
Ruby.gitignore
Rust.gitignore
SCons.gitignore
Sass.gitignore
Scala.gitignore
Scheme.gitignore
Scrivener.gitignore
Sdcc.gitignore
SeamGen.gitignore
SketchUp.gitignore
Smalltalk.gitignore
Stella.gitignore
SugarCRM.gitignore
Swift.gitignore
Symfony.gitignore
SymphonyCMS.gitignore
TeX.gitignore
Terraform.gitignore
Textpattern.gitignore
TurboGears2.gitignore
TwinCAT3.gitignore
Typo3.gitignore
Unity.gitignore
UnrealEngine.gitignore
VVVV.gitignore
VisualStudio.gitignore
Waf.gitignore
WordPress.gitignore
Xojo.gitignore
Yeoman.gitignore
Yii.gitignore
ZendFramework.gitignore
Zephir.gitignore
Zig.gitignore
gitignore
/Unity.gitignore
 

Code

Blame
73 lines (60 loc) · 1.27 KB
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
/[Mm]emoryCaptures/

# Recordings can get excessive in size
/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
/[Aa]ssets/Plugins/Editor/JetBrains*

# Visual Studio cache directory
.vs/

# Gradle cache directory
.gradle/

# Autogenerated VS/MD/Consulo solution and project files
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Unity3D generated file on crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app



# Crashlytics generated file
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Temporary auto-generated Android Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*
Footer
© 2025 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact
Manage cookies
Do not share my personal information
